.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(3, 3, 3, 0.8);
  backdrop-filter: blur(10px);
  color: #ffffff;
  /* border-bottom: 2px solid #ff4500; */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.header.visible {
  transform: translateY(0);
  opacity: 1;
}

.header.menu-open {
  background: rgba(3, 3, 3, 0.95);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #ff4500;
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  background: rgba(8, 8, 8, 0.9);
  transition: background 0.3s ease;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 15px;
}

.nav button.nav-link {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 0;
  position: relative;
  transition: color 0.3s ease;
}

.nav button.nav-link:hover,
.nav button.nav-link.active {
  color: #ff4500;
}

.nav button.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ff4500;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav button.nav-link:hover::after,
.nav button.nav-link.active::after {
  width: 100%;
}

.button-group {
  display: flex;
  gap: 10px;
}

.book-button {
  background-color: transparent;
  color: #ff4500;
  border: 2px solid #ff4500;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.book-button:hover {
  background-color: #ff4500;
  color: #ffffff;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(251, 206, 177, 0.9); 
    flex-direction: column;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999; 
  }

  .nav.open {
    transform: translateY(0);
  }

  .nav ul {
    flex-direction: column;
    width: 100%;
  }

  .nav li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  .nav button.nav-link {
    width: 100%;
    padding: 15px 0;
  }

  .button-group {
    display: none;
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1000;
  }
}
